/* Resetiranje osnovnih stilova */
body, p, h2, a {
    margin: 0;
    padding: 0;
    background-image:('C:\Users\Computer\Desktop\novi sajt\slika.jpg');
    background-color: #352e41;

    color: #f1eac3;
    align-items: center;
    
}

body {
   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center
    
 
}
#title{
    text-align: center;
}


#en{
    background-color: #04070d;
    color: white;
}
#sr{
    background-color:blue ;
    color: red;
}
.jezik {

    margin-left: 0px;
    color: #04070d;
    text-align: center;
    background-color: #04070d;
    border: none; /* Remove borders */
    padding: 3px 3px; /* Add padding to give it a button-like shape */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor */;
    }



.logo img {
    top: 20px;
    float: left;
    width: 130px;
    height: 120px;
    max-width: 100%
}

.logo h1 {
    color: #fcfced; /* Boja teksta */
    
    position: relative;
    top: 20px;
    left: -25px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}


/* Postavljanje fonta i boje teksta */
body {
    font-family: Arial, sans-serif;
    color: #fcfced; /* Boja teksta */
          
}

/* Stilizacija zaglavlja */
header {
    background-color: #352e41;

    color: #f1eac3;
    text-align: left;
    padding: -5px;
}


/* Stilizacija naslova */
h1 {
    font-size: 36px;
    margin-bottom: 0cm;
    margin-left: 3cm;
    font-style: italic;
}   

/* Stilizacija glavnog menija */
nav ul {

    margin-right: 20px;
    margin-left: 20px;
    list-style: none;
    background-color: #04070d;
    text-align: center;
    padding: 18px;
    /* word-spacing: 30px; */
    
    
}
.menulist{
    word-spacing: 20px;
    letter-spacing: 2px;
    color: #fcfced; /* Boja teksta */
    
    
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fcfced; /* Boja teksta */
    
    font-weight: bolder;
    text-decoration-line: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    border: 6px solid #352e41;
    ; /* Debljina i boja ivica kutije */
    border-radius: 20px; /* Zaobljeni ivici kutije */
    margin: 5px; /* Razmak između reči u meniju */
    word-spacing: 2px;
}

/* Stilizacija sekcija */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}


/* Stilizacija podnožja */
footer {
    background-color: #04070d;
    color: #fcfced; /* Boja teksta */
    text-align: center;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
        color: #fcfced; /* Boja teksta */
    
    font-weight: bolder;
    text-decoration-line: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    

    ; /* Debljina i boja ivica kutije */
    border-radius: 20px; /* Zaobljeni ivici kutije */
    margin: 5px; /* Razmak između reči u meniju */
    word-spacing: 2px;
}


.dropdown button {

    
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #04070d;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #04070d;
}


.dropdown:hover .dropdown-content {
    display: block;
}   


    h2{

        font-weight: bold;
        color: black;
        text-align: center;
    font-style: italic;
    }
    p{
       
        font-weight: bold; /* Debljina fonta */
        margin-right: 20px; /* Razmak sa desne strane slike */
        flex: 1; /* Tekst će zauzeti polovinu dostupnog prostora */
        padding: 20px;
        text-align: justify;
        font-size: 12pt;
        line-height: 1.5; /* Razmak između redova */
        margin-bottom: 10px; /* Razmak ispod svakog pasusa */
        color: #fcfced; /* Boja teksta */
    
    }
    
    
    
 .containerunp{

    display: flex; /* Postavljanje na fleksibilni kontejner */

    align-items: center;
}

.imageunp img{
    flex: 1;
    text-align: left;
    height: 8cm;
    width: 15cm;
left: 400px;
transform: rotate(-40deg);
}

.textunp{
    text-align: right;
    flex: 2; /* Da bi se tekst širio koliko treba  */ 

    
}

.containerrupa{

    display: flex; /* Postavljanje na fleksibilni kontejner */

    align-items: center;
    padding: 0;
}


.imagecrnarupa img{
    
max-height: 100%;
padding: 0px;
}

.textrupa{
    text-align: right;
    flex: 2; /* Da bi se tekst širio koliko treba  */ 
padding-left: 10px;
    
}

#rupenaslov {

    padding: 20px;
}


#Rupenaslov1 
{

    padding: 20px;
}

  #iznad{
    
    padding: 0;
}

#slika {

    padding: 0;
}

#ispod{
    padding: 0;
}


.videorupa {

    align-items: center;
    text-align: center;
}
#video-player {
    max-width: 50%;
            max-height: 50%;
    align-items: center;
    text-align: center;
            

}